
<!-- <div *ngFor= "let item of itemOrder">
    <form action="">
        <input type="number">
      
        <label for="">{{item.item.name}}</label>
        <label for="">{{item.item.price}}</label>
        <label for="">{{item.cantidad}}</label>
    </form>
   
</div> -->

<table>
  
   <tr><h3>PEDIDOS</h3></tr> 
    <tr *ngFor= "let item of itemOrder">
      <td>
         <button>-</button>  
         {{item.cantidad}} 
         <button>+</button> 
         {{item.item.name}}
      </td> 
      <td> $ {{ item.item.price }} </td>
    </tr>
    
</table>